:root {
  --bright_orange: hsl(31, 77%, 52%);
  --dark_cyan: hsl(184, 100%, 22%);
  --very_dark_cyan: hsl(179, 100%, 13%);
  --paragraphs_color: hsla(0, 0%, 100%, 0.75);
  --light_grey: hsl(0, 0%, 95%);
}

/* Creating box-sizing for all elments on the page */
* {
  box-sizing: border-box;
}

/* setting the default margin and padding 0 */
html,
body {
  margin: 0;
  padding: 0;
}

/* setting the default body properties */
body {
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  background-color: var(--light_grey);
  font-family: 'Lexend Deca', sans-serif;
}

main {
  display: flex;
  flex-direction: column;
}

/* Setting the default button properties */
button {
  background-color: var(--light_grey);
}

/* Setting the default h1 properties */
h1 {
  color: var(--light_grey);
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
}

/* Setting the default paragraph properties */
p {
  color: var(--paragraphs_color);
  margin: 2vw 0;
  line-height: 20px;
}

.sedans {
  background-color: var(--bright_orange);
}
.suvs {
  background-color: var(--dark_cyan);
}

.luxury {
  background-color: var(--very_dark_cyan);
}

.sedans,
.suvs,
.luxury {
  padding: 3vw;
}

.btn {
  padding: 10px;
  border: 1px solid var(--light_grey);
  border-radius: 20px;
  width: 80%;
  margin-top: 10px;
  bottom: 20;
  font-size: 15px;
}

.sedans > .btn {
  color: var(--bright_orange);
}

.suvs > .btn {
  margin-top: 28px;
  color: var(--dark_cyan);
}

.luxury > .btn {
  color: var(--very_dark_cyan);
}

.btn:hover {
  background-color: inherit;
  color: var(--paragraphs_color);
  cursor: pointer;
}

.grid_part {
  margin-top: 30px;
  padding: 10px 30px;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-size: 15px;
  border: 1px solid black;
}

.grid_part:hover {
  background-color: white;
  color: black;
}
/* Setting the media querry for small screen sizes */
@media screen and (max-width: 375px) {
  main {
    height: 100vh;
    margin: 194px auto !important;
    display: flex;
    flex-direction: column;
  }
  .container {
    width: 100% !important;
    display: flex;
    flex-direction: column;
  }

  .btn {
    width: 50%;
    margin-top: 40px !important;
    margin-bottom: 20px;
  }

  .sedans {
    background-color: var(--bright_orange);
    border-radius: 0 0 0 0 !important;
  }
  .suvs {
    background-color: var(--dark_cyan);
  }

  .luxury {
    background-color: var(--very_dark_cyan);
    border-radius: 0 0 0 0 !important;
  }
}

/* Setting the media querry for large screen sizes */
@media screen and (max-width: 1440px) {
  main {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .container {
    width: 57%;
    display: flex;
  }

  .sedans {
    background-color: var(--bright_orange);
    border-radius: 5px 0 0 5px;
  }
  .suvs {
    background-color: var(--dark_cyan);
  }

  .luxury {
    background-color: var(--very_dark_cyan);
    border-radius: 0 5px 5px 0;
  }
}
